<%= turbo_stream_from "comment_#{comment.id}" %>

<div class="comment card mb-3" id="comment_<%= comment.id %>">
  <div class="card-body">
    <p class="card-text"><strong>Commenter:</strong> <%= comment.commenter %></p>
    <p class="card-text"><strong>Comment:</strong> <%= comment.body %></p>
  </div>
</div>
