@import "config/variables";

.article {
  border: 1px solid $border-color;
  padding: 20px;
  margin-bottom: 20px;
  background-color: $light-color;
  border-radius: 5px;
  box-shadow: $box-shadow;
  transition: $transition;

  &:hover {
    transform: translateY(-5px);
  }

  .article__header {
    margin-bottom: 10px;
    font-size: 24px;
    color: $primary-color;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline;
      margin-right: 10px;

      a {
        text-decoration: none;
        color: $primary-color;
        transition: $transition;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}