@import "variables";
@import "mixins";

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: $light-color;
  border-radius: 5px;
  box-shadow: $box-shadow;
}

.header {
  margin-bottom: 20px;
  color: $primary-color;
}

.btn {
  @include button-style($primary-color, $primary-color, darken($primary-color, 10%));

  &--dark {
    @include button-style($secondary-color, $secondary-color, $dark-color);
  }
}