@mixin button-style($background, $border, $hover-bg) {
  padding: 10px 20px;
  border: 1px solid $border;
  background-color: $background;
  color: $text-color;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: $transition;

  &:hover {
    background-color: $hover-bg;
    box-shadow: $box-shadow;
  }
}